.card {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: 100ms;
}

.card:hover {
  transform: scale(1.01);
  transition: 100ms;
}
