@import "tailwindcss";
.card {
  @apply w-60 lg:w-64 p-1 lg:p-2;

  border: 1px solid #12121212;

  border-radius: 10px;
  background-color: #fff;
  transition: 100ms;
}

.card figure {
  @apply rounded-sm;
}

.card:hover {
  @apply shadow-green-950/20 shadow-lg;
  transform: scale(1.01);
  transition: 100ms;
}
.card-body {
  @apply px-2 gap-2 lg:gap-2 py-3  lg:py-4;
}
.card-body p {
  @apply text-xs/5 lg:text-sm/6 text-gray-500;
}
.card-actions .btn {
  @apply text-xs lg:text-sm;
}
