@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
* {
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexRow {
  display: flex;
  flex-direction: row;
}

.btn {
  @apply text-white shadow-none hover:shadow-xl;
  cursor: pointer;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 100ms ease;
}
.btn.active {
  background-color: #000;
  color: white;
}
.btn.inactive {
  background-color: #fff;
  border: 1px solid black;
  color: black;
}
.btn:hover {
  transform: scale(1.03);
  transition: 200ms ease-in;
}
