@import url("https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Playwrite+VN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
* {
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
  scroll-behavior: smooth;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.flexRow {
  display: flex;
  flex-direction: row;
}

.logo-googleplay {
  font-family: "Google Sans", sans-serif;
}

.btn {
  @apply text-xs md:text-sm py-[10px] px-6 min-w-max;
  box-shadow: none;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 100ms ease;
}
.btn:hover {
  @apply shadow-black/40   shadow-lg;
  /* box-shadow: 10px 3px 20px 0px 10px gray; */
  transform: scale(1.03);
  transition: 100ms ease-in;
}
.btn.enable {
  background-color: #000;
  color: white;
  border: 1px solid #000;
}
.btn.disable {
  background-color: #fff;
  border: 1px solid black;
  color: black;
}
.bul1 {
  border-radius: 23% 77% 69% 31% / 39% 24% 76% 61%;
}
.bul2 {
  border-radius: 32% 68% 29% 71% / 27% 42% 58% 73%;
}
.bul3 {
  border-radius: 83% 17% 29% 71% / 23% 71% 29% 77%;
}
.bul4 {
  border-radius: 43% 56% 46% 54% / 79% 26% 74% 20%;
}
.bul5 {
  border-radius: 43% 56% 46% 54% / 79% 26% 74% 20%;
}
.bul6 {
  border-radius: 33% 67% 82% 18% / 84% 37% 63% 16%;
}
.bul7 {
  border-radius: 67% 33% 61% 39% / 47% 30% 70% 53%;
}
.bul8 {
  border-radius: 67% 33% 61% 41% / 35% 30% 70% 53%;
}

.h-hero h2 {
  @apply text-sm xl:text-base font-bold text-white;
}

.detection .left img,
.detection .right img {
  @apply hover:scale-110 duration-200 hover:duration-100;
}

.diagnostic {
  .btns {
    display: flex;
    gap: 1rem;
  }
  .bulb3,
  .bul2 {
    border-radius: 70% 30% 76% 24% / 57% 39% 61% 43%;
  }
}

.functionnalities {
  .func {
    @apply text-sm pb-1  text-gray-600 font-semibold;
  }
  .funct {
    @apply text-center px-5;
  }
  .funct p {
    @apply text-xs/5 lg:text-sm/6 text-gray-500;
  }
}

.navbar {
  .h-links .link {
    @apply relative;

    text-decoration: none;
    transition: 200ms;
  }
  .link:hover {
    transition: 200ms;
  }
  .h-links .link span {
    @apply bg-gradient-to-br h-2 rounded-full w-5 -bottom-[9px] absolute from-gray-600 right-1/2 to-black translate-x-1/2;
    opacity: 0;
    transition: 0.5s;
  }
  .h-links .link a:hover ~ span {
    opacity: 1;
    transition: 0.4s;
  }
}
.meteo {
  .btns {
    display: flex;
    gap: 1rem;
  }
  .bulb8 {
    border-radius: 70% 30% 76% 24% / 57% 39% 61% 43%;
  }
}

.scan {
  .btns {
    display: flex;
    gap: 1rem;
  }
  .bulb2 {
    border-radius: 19% 81% 15% 85% / 22% 50% 50% 78%;
  }
}

.services {
  .btns {
    display: flex;
    gap: 1rem;
  }
  .bulb1 {
    border-radius: 73% 27% 29% 71% / 34% 34% 66% 66%;
  }
}
.vente {
  .card {
    @apply w-60 lg:w-64 p-1 lg:p-2;

    border: 1px solid #12121212;

    border-radius: 10px;
    background-color: #fff;
    transition: 100ms;
  }

  .card figure {
    @apply flex object-center rounded-sm;
  }
  .card figure img {
    @apply object-cover h-auto;
  }

  .card:hover {
    @apply shadow-green-950/20 shadow-lg;
    transform: scale(1.01);
    transition: 100ms;
  }
  .card-body {
    @apply px-2 gap-2 lg:gap-2 py-3  lg:py-4;
  }
  .card-body p {
    @apply text-xs/5 lg:text-sm/6 text-gray-500;
  }
  .card-actions {
    @apply flex;
  }
  .card-actions .btn {
    @apply text-xs lg:text-sm;
  }
}

footer .link {
  @apply text-black/90 text-sm transition-colors duration-300;
}

footer .link:hover {
  @apply text-green-600 no-underline duration-200;
}
footer h6 {
  @apply uppercase text-sm font-bold text-gray-600;
}
