@import "tailwindcss";
.bul1 {
  border-radius: 23% 77% 69% 31% / 39% 24% 76% 61%;
}
.bul2 {
  border-radius: 32% 68% 29% 71% / 27% 42% 58% 73%;
}
.bul3 {
  border-radius: 83% 17% 29% 71% / 23% 71% 29% 77%;
}
.bul4 {
  border-radius: 43% 56% 46% 54% / 79% 26% 74% 20%;
}
.bul5 {
  border-radius: 43% 56% 46% 54% / 79% 26% 74% 20%;
}
.bul6 {
  border-radius: 33% 67% 82% 18% / 84% 37% 63% 16%;
}
.bul7 {
  border-radius: 67% 33% 61% 39% / 47% 30% 70% 53%;
}
.func {
  @apply text-sm pb-1  text-gray-600 font-semibold;
}
.funct {
  @apply text-center px-5;
}
.funct p {
  @apply text-xs/5 lg:text-sm/6 text-gray-500;
}
